<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
    <p style="color:blue;">Saisi ici ton nom : </p> <input type='text' name='gossip_author'/><br>
      <p style="color:Tomato;"> Balance ton  potin:</p> <input type='text' name='gossip_content'/><br>
      <input type='submit'/><br>
    </form>
  </body>
</html>

